{% extends "main/base.html" %}
{% load static %}
{% load filters %}

{% block head %}
    <title>{% translate request "About | Sahayata Portal" %}</title>
{% endblock %}

{% block content %}
<div style="padding:40px 5px; margin: auto; max-width:1000px; width:90%; display:block; color:white;">
    <h2><center>{% translate request "About Us" %}</center></h2>
    <br>
    <p style="font-size:1.1em; text-align:center">
    {% translate request "The precise meaning of the word Sahayata is 'help'. Our outlet, Sahayata Portal, also serves the same purpose: to help the citizens of our nation. It is a solution for the people across various sectors - students, working class, pensioners, unorganised labourers, etc. The motive of this portal is to make the citizens aware of the various government schemes catered for them, scholarships for students, and requirements for labour tenders. It is a one-stop solution where the information from different portals is integrated and provided to you in the best way possible. The portal is dynamic and updates itself automatically along with the various portals integrated." %}
    </p>
    <br>
    <br>
    <p>
    {% translate request "List of portals integrated:" %}
    <ul style="font-size:1.1em">
    <li>{% translate request "National Scholarship Portal:" %} <a href="https://scholarships.gov.in/" target="_blank">https://scholarships.gov.in/</a></li>
    <li>{% translate request "E-Shram portal:" %} <a href="https://eshram.gov.in/" target="_blank">https://eshram.gov.in/</a></li> 
    <li>{% translate request "Ministry of Women and Child Development:" %} <a href="https://wcd.nic.in/" target="_blank">https://wcd.nic.in/</a></li>
    </ul>
    </p>
</div>

{% endblock %}