{% extends "main/base.html" %}
{% load static %}

{% block head %}
    <title>Home | Sahayata Portal</title>
{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'main/css/main.css' %}">
<div class="container">
    <div class="row mt-3">
        <div class="col title text-white" >
            Welcome to Sahayata Portal
        </div>
    </div>
    <div class="row mt-3">
        <div class="col">
            <img src="{% static 'main/images/logo.png' %}" alt="logo" class="img-fluid mx-auto d-block" width="300px">
        </div>
    </div>
    <br>
    <br>
    <div style="text-align: center;">
    <p style="font-size:4em; display: inline; color:rgb(255, 95, 95)">❝</p>
    <p style="font-size:2em; font-weight: 700; display: inline; color:#3e78db;">
         आपकी सहायता हमारा कर्तव्य।
    </p>
    <p style="font-size:4em; display: inline; color:rgb(255, 95, 95)">❞</p>
    </div>
    <div class="col d-grid mt-3 d-md-flex justify-content-md-center">
        <a class="btn btn-warning btn-lg" href="{%url 'subscribe'%}" role="button">Subscribe to our mails.</a>
    </div>
    <!-- <div class="row mt-3">
        <div class="col d-grid gap-2 d-md-flex justify-content-md-center">
            <a class="btn btn-success btn-lg" href="#" role="button">Login</a>
            <a class="btn btn-primary btn-lg" href="#" role="button">Sign Up</a>
        </div>
    </div> -->
</div>
{% endblock %}