{% extends "main/base.html" %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'main/css/main.css' %}">
<div class="container">
    <div class="row mt-3">
        <div class="col title text-white" >
            Welcome to Sahayata Portal
        </div>
    </div>
    <div class="row mt-3">
        <div class="col">
            <img src="{% static 'main/images/logo.png' %}" alt="logo" class="img-fluid mx-auto d-block" width="300px">
        </div>
    </div>
    <div class="row mt-3">
        <div class="col d-grid gap-2 d-md-flex justify-content-md-center">
            <a class="btn btn-success btn-lg" href="#" role="button">Login</a>
            <a class="btn btn-primary btn-lg" href="#" role="button">Sign Up</a>
        </div>
    </div>
</div>
{% endblock %}