{% extends "main/base.html" %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{% static 'main/css/ourteam.css' %}">
<div class="text-white ms-2"><h5>This webpage is made by the following students of Department of Electrical Engineering, IIT Ropar as a course project for the course CP301: Development Engineering Project.</h5></div>
<div class="container-fluid d-flex justify-content-center mt-2">
    <div class="row">
        <div class="col-lg-4 mt-2">
            <div class="card">
                <div class="card-body text-center"> <img src="{% static 'main/images/default_dp.jpg' %}" class="rounded-circle" width="200" height="200">
                    <h5 class="card-title mt-2 mb-1">Priyanka Kotha</h5> <span class="fs-2 mb-3 font-weight-bold">2019EEB1181</span>
                    <p class="mb-3 mt-3">"Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy"</p>
                    <ul class="list-inline">
                        <li class="list-inline-item"><a><i class="fa fa-facebook fa-2x facebook"></i></a></li>
                        <li class="list-inline-item"><a><i class="fa fa-twitter fa-2x twitter"></i></a></li>
                        <li class="list-inline-item"><a><i class="fa fa-linkedin fa-2x linkedin"></i></a></li>
                        <li class="list-inline-item"><a><i class="fa fa-google fa-2x google"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-4 mt-2">
            <div class="card">
                <div class="card-body text-center"> <img src="{% static 'main/images/default_dp.jpg' %}" class="rounded-circle" width="200" height="200">
                    <h5 class="card-title mt-2 mb-1">Priyasha Pratap</h5> <span class="fs-2 mb-3 font-weight-bold">2019EEB1182</span>
                    <p class="mb-3 mt-3">"Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy"</p>
                    <ul class="list-inline">
                        <li class="list-inline-item"><a><i class="fa fa-facebook fa-2x facebook"></i></a></li>
                        <li class="list-inline-item"><a><i class="fa fa-twitter fa-2x twitter"></i></a></li>
                        <li class="list-inline-item"><a><i class="fa fa-linkedin fa-2x linkedin"></i></a></li>
                        <li class="list-inline-item"><a><i class="fa fa-google fa-2x google"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-4 mt-2">
            <div class="card">
                <div class="card-body text-center"> <img src="{% static 'main/images/default_dp.jpg' %}" class="rounded-circle" width="200" height="200">
                    <h5 class="card-title mt-2 mb-1">Riya</h5> <span class="fs-2 mb-3 font-weight-bold">2019EEB1185</span>
                    <p class="mb-3 mt-3">"Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy"</p>
                    <ul class="list-inline">
                        <li class="list-inline-item"><a><i class="fa fa-facebook fa-2x facebook"></i></a></li>
                        <li class="list-inline-item"><a><i class="fa fa-twitter fa-2x twitter"></i></a></li>
                        <li class="list-inline-item"><a><i class="fa fa-linkedin fa-2x linkedin"></i></a></li>
                        <li class="list-inline-item"><a><i class="fa fa-google fa-2x google"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid d-flex justify-content-center mt-2">
    <div class="row">
        <div class="col-lg-2 mt-2">
        </div>
        <div class="col-lg-4 mt-2">
            <div class="card">
                <div class="card-body text-center"> <img src="{% static 'main/images/default_dp.jpg' %}" class="rounded-circle" width="200" height="200">
                    <h5 class="card-title mt-2 mb-1">Yash Jain</h5> <span class="fs-2 mb-3 font-weight-bold">2019EEB1208</span>
                    <p class="mb-3 mt-3">"Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy"</p>
                    <ul class="list-inline">
                        <li class="list-inline-item"><a><i class="fa fa-facebook fa-2x facebook"></i></a></li>
                        <li class="list-inline-item"><a><i class="fa fa-twitter fa-2x twitter"></i></a></li>
                        <li class="list-inline-item"><a><i class="fa fa-linkedin fa-2x linkedin"></i></a></li>
                        <li class="list-inline-item"><a><i class="fa fa-google fa-2x google"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-4 mt-2">
            <div class="card">
                <div class="card-body text-center"> <img src="{% static 'main/images/default_dp.jpg' %}" class="rounded-circle" width="200" height="200">
                    <h5 class="card-title mt-2 mb-1">Yash Mittal</h5> <span class="fs-2 mb-3 font-weight-bold">2019EEB1210</span>
                    <p class="mb-3 mt-3">"Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy"</p>
                    <ul class="list-inline">
                        <li class="list-inline-item"><a><i class="fa fa-facebook fa-2x facebook"></i></a></li>
                        <li class="list-inline-item"><a><i class="fa fa-twitter fa-2x twitter"></i></a></li>
                        <li class="list-inline-item"><a><i class="fa fa-linkedin fa-2x linkedin"></i></a></li>
                        <li class="list-inline-item"><a><i class="fa fa-google fa-2x google"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-2 mt-2">
        </div>
    </div>
</div>
<br>
<div class="text-white ms-2 mt-2"><h5>Under the guidance of:</h5></div>
<div class="container-fluid d-flex justify-content-center mt-2">
    <div class="row">
        <div class="col-lg-2 mt-2">
        </div>
        <div class="col-lg-4 mt-2">
            <div class="card">
                <div class="card-body text-center"> <img src="{% static 'main/images/default_dp.jpg' %}" class="rounded-circle" width="200" height="200">
                    <h5 class="card-title mt-2 mb-1">Dr. K. Ramachandra Sekhar</h5> <span class="fs-2 mb-3 font-weight-bold">Dept. of Electrical Engineering<br>IT Ropar</span>
                    <p class="mb-3 mt-3">"Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy"</p>
                    <ul class="list-inline">
                        <li class="list-inline-item"><a><i class="fa fa-facebook fa-2x facebook"></i></a></li>
                        <li class="list-inline-item"><a><i class="fa fa-twitter fa-2x twitter"></i></a></li>
                        <li class="list-inline-item"><a><i class="fa fa-linkedin fa-2x linkedin"></i></a></li>
                        <li class="list-inline-item"><a><i class="fa fa-google fa-2x google"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-4 mt-2">
            <div class="card">
                <div class="card-body text-center"> <img src="{% static 'main/images/default_dp.jpg' %}" class="rounded-circle" width="200" height="200">
                    <h5 class="card-title mt-2 mb-1">Dr. Brijesh Khumbhani</h5> <span class="fs-2 mb-3 font-weight-bold">Dept. of Electrical Engineering<br>IT Ropar</span>
                    <p class="mb-3 mt-3">"Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy"</p>
                    <ul class="list-inline">
                        <li class="list-inline-item"><a><i class="fa fa-facebook fa-2x facebook"></i></a></li>
                        <li class="list-inline-item"><a><i class="fa fa-twitter fa-2x twitter"></i></a></li>
                        <li class="list-inline-item"><a><i class="fa fa-linkedin fa-2x linkedin"></i></a></li>
                        <li class="list-inline-item"><a><i class="fa fa-google fa-2x google"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-2 mt-2">
        </div>
    </div>
</div>
{% endblock %}