{% extends "main/base.html" %}
{% load static %}
{% load filters %}

{% block head %}
    <title>{% translate request "Our Team | Sahayata Portal" %}</title>
    <style>
      .text-muted{
        font-size:1.2em !important;
      }
    </style>
{% endblock %}

{% block content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{% static 'main/css/ourteam.css' %}">

<section class="team text-center py-5">
    <div class="container">
        <div>
            <h1 style="color: antiquewhite;">{% translate request "Meet our Team" %}</h1>        
            <p class="text-muted">{% translate request "Meet and Greet our Team Members" %}</p>
            <br>
        </div>
      <div class="row">
        <div class="col-sm">
          <div class="img-block mb-5">
            <img src="{% static 'main/images/Priyanka.jpeg' %}" class="img-fluid  img-thumbnail rounded-circle" style="width:400px;" alt="image1">
            <div class="content mt-2">
              <h4 style="color: beige;">{% translate request "Priyanka Kotha" %}</h4>
              <p class="text-muted">{% translate request "Electrical Engineer" %}</p>
            </div>
          </div>
        </div>
        <div class="col-sm ">
          <div class="img-block mb-5">
            <img src="{% static 'main/images/Priyasha.jpeg' %}" class="img-fluid  img-thumbnail rounded-circle" style="width:400px;" alt="image1">
            <div class="content mt-2">
              <h4 style="color: beige;">{% translate request "Priyasha Pratap" %}</h4>
              <p class="text-muted">{% translate request "Electrical Engineer" %}</p>
            </div>
          </div>
        </div>
        <div class="col-sm">
          <div class="img-block mb-5">
            <img src="{% static 'main/images/Riya.jpeg' %}" class="img-fluid  img-thumbnail rounded-circle" style="width:400px;" alt="image1">
            <div class="content mt-2">
              <h4 style="color: beige;">{% translate request "Riya" %}</h4>
              <p class="text-muted">{% translate request "Electrical Engineer" %}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm ">
          <div class="img-block mb-5">
            <img src="{% static 'main/images/Yash Jain.jpeg' %}" class="img-fluid  img-thumbnail rounded-circle" style="width:400px;" alt="image1">
            <div class="content mt-2">
              <h4 style="color: beige;">{% translate request "Yash Jain" %}</h4>
              <p class="text-muted">{% translate request "Electrical Engineer" %}</p>
            </div>
          </div>
        </div>
        <div class="col-sm">
          <div class="img-block mb-5">
            <img src="{% static 'main/images/Yash Mittal.jpeg' %}" class="img-fluid  img-thumbnail rounded-circle" style="width:400px;" alt="image1">
            <div class="content mt-2">
              <h4 style="color: beige;">{% translate request "Yash Mittal" %}</h4>
              <p class="text-muted">{% translate request "Electrical Engineer" %}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div>
        <h1 style="color: antiquewhite;">{% translate request "Meet our Guides" %}</h1>        
    </div>
    <div class="row">
        <div class="col-sm ">
          <div class="img-block mb-5">
            <img src="{% static 'main/images/Sekhar.jpeg' %}" class="img-fluid  img-thumbnail rounded-circle" style="width:400px;" alt="image1">
            <div class="content mt-2">
              <h4 style="color: beige;">{% translate request "Dr. K. Ramachandra Sekhar" %}</h4>
              <p class="text-muted">
                {% translate request "Assistant Professor" %}<br>
                {% translate request "Department of Electrical Engineering, IIT Ropar" %}
              </p>
            </div>
          </div>
        </div>
        <div class="col-sm">
          <div class="img-block mb-5">
            <img src="{% static 'main/images/Brij.jpeg' %}" class="img-fluid  img-thumbnail rounded-circle" style="width:400px;" alt="image1">
            <div class="content mt-2">
              <h4 style="color: beige;">{% translate request "Dr. Brijesh Kumbhani" %}</h4>
              <p class="text-muted">
                {% translate request "Assistant Professor" %}<br>
                {% translate request "Department of Electrical Engineering, IIT Ropar" %}
              </p>
            </div>
          </div>
        </div>
      </div>
  </section>
{% endblock %}