{% extends "main/base.html" %}
{% load static %}

{% block head %}
    <title>Scholarships | Sahayta Portal</title>
{% endblock %}

{% block content %}
<!-- <button onclick="playelem('#tab');">SPEAK</button> -->
<table class="table text-white" id="tab">
    <thead class="table-warning">
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Closing Date</th>
        <th scope="col">Guidelines</th>
        <th scope="col">FAQs</th>
        <th scope="col">Voice</th>
      </tr>
    </thead>
    <tbody>
{% for i in data %}
      <tr class="{{i.4}}">
        <th scope="row" id="name">{{i.0}}</th>
        <td id="date">{{i.1}}</td>
        <td><a href="{{i.2}}">Guidelines</a></td>
        <td><a href="{{i.3}}">FAQs</a> <br></td>
        <td><button id="play">SPEAK</button></td>
      </tr>
{% endfor %}
</tbody>
</table>
{% endblock %}