{% extends "main/base.html" %}
{% load static %}
{% load filters %}

{% block head %}
    <title>Scholarships | Sahayata Portal</title>
{% endblock %}

{% block content %}
<!-- <button onclick="playelem('#tab');">SPEAK</button> -->
<table class="table text-white" id="tab">
    <thead class="table-warning">
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Closing Date</th>
        <th scope="col">Guidelines</th>
        <th scope="col">FAQs</th>
        <th scope="col">Voice</th>
      </tr>
    </thead>
    <tbody>
{% for i in data %}
      <tr class="{{i.color}}">
        <th scope="row" id="name">{{i.name}}</th>
        <td id="date">{% print_date i.closing_date %}</td>
        <td><a href="{{i.guideline}}">Guidelines</a></td>
        <td><a href="{{i.faq}}">FAQs</a> <br></td>
        <td><button id="play">SPEAK</button></td>
      </tr>
{% endfor %}
</tbody>
</table>
{% endblock %}