{% extends "main/base.html" %}
{% load static %}
{% load filters %}

{% block head %}
    <title>{% translate request "Social Welfare Schemes | Sahayata Portal" %}</title>
{% endblock %}

{% block content %}
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="{% static 'main/images/shram1.jpg' %}" class="d-block w-100" alt="MNREGA">
      </div>
      <div class="carousel-item">
        <img src="{% static 'main/images/national-pension-scheme1.jpg' %}" class="d-block w-100" alt="DDU-GKY">
      </div>
      <div class="carousel-item">
        <img src="{% static 'main/images/awas1.jpg' %}" class="d-block w-100" alt="Garib Kalyan Rojgar Yojana">
      </div>
      <div class="carousel-item">
        <img src="{% static 'main/images/pen1.jpg' %}" class="d-block w-100" alt="Garib Kalyan Rojgar Yojana">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <br>
  <div>
    <h1 style="color: beige; font-family: Helvetica Neue; text-align: center;">{% translate request "Social Welfare Schemes" %}</h1>
  </div>
  <div style="color:white">
<div style="color:white">
    {% autoescape off %}
    {% for i in data %}
    <div style="border: 1px solid white; margin:20px; padding: 10px 25px" id="{{forloop.counter}}">
      <div class="row">
        <div class="col">
          <div class="row mb-2" style="font-size: 1.2em; color:rgb(132, 239, 255)">
            <b>{{i.title}}</b>
          </div>
          {% if i.desc1 %}
          <div class="row">
            <div class="col-md-12">
              <ul>
                {% for ii in i.desc1 %}
                  <li>{{ii}}</li>
                {% endfor %}
              </ul>
            </div>
          </div>
          {% endif %}
          <div class="row">
            <div class="col-md-6">
              <p style="margin-bottom: 10px; color: rgb(204, 255, 0)">{{i.head2}}</p>
              <ul>
                {% for ii in i.desc2 %}
                  <li>{{ii}}</li>
                {% endfor %}
              </ul>
            </div>
            <div class="col-md-6">
              <p style="margin-bottom: 10px; color: rgb(204, 255, 0)">{{i.head3}}</p>
              <ul>
                {% for ii in i.desc3 %}
                  <li>{{ii}}</li>
                {% endfor %}
              </ul>
            </div>
          </div>
          <div class="row">
            <button onclick="playelem('#{{forloop.counter}}');" class="btn btn-outline-light btn-sm m-auto" style="width: 100px;">{% translate request "SPEAK" %} <i class="fa-solid fa-volume-high"></i></button>
          </div>
        </div>
      </div>
    </div>
    {%endfor%}
    {% endautoescape %}
    </div>
{% endblock %}