{% extends "main/base.html" %}
{% load static %}
{% load filters %}

{% block head %}
    <title>{% translate request "Unsubscribe | Sahayata Portal" %}</title>
{% endblock %}

{% block content %}
<div class="text-warning h5" style="text-align: center;">
    {% translate request msg %}
</div>
{% if ask %}
<form action = "" method = "post" class="text-white ms-3" style="text-align: center">
    {% csrf_token %}
    <input type="submit" class="btn btn-success" value="Click here to unsubscribe">
</form>
{% endif %}
{% endblock %}