html, body {
  height: 85%;
  margin: 0;
}
.nav-link{
  font-size: 20px;
}
.content-wrap{
  min-height: 100%;
  margin: 0 auto 50px;
}
footer{
  text-align: center;
  padding: 20px;
} 
.hide{
  display: none;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.7);
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}
.hide .text{
  display: table-cell;
  color:white;
  font-size: 30px;
  text-align: center;
  vertical-align: middle;
  width: 100vw;
  height: 100vh;
}